* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;  
}

h1 {
    background-color: yellow;
    padding: 10px;

}

select {
    display: none;
    /* animation: deslizar 1s ease-in forwards; */
    /* transition: top 10s ease-in; */
}

/* @keyframes deslizar {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(4px);
    }
} */